main{
	background-color: #f3f3f3;
	.nav{
		width: 1190px;
		height: 40px;
		margin:0 auto;
		.nav_1{
			width: 465px;
			height: 40px;
			display: flex;
			color: #737373;
			justify-content: space-around;
			align-items: center;
			line-height: 38px;
			li{
				padding: 0 5px;
				box-sizing: border-box;
				a{
				font-size: 12px;
				color: #6a6a6a;
				}
				a:hover{
					color: #ff3c3c;
				}
			}
			li:hover{
				background-color: white;
				border-left:#d9d9d9; 
				border-right:#d9d9d9; 
			}
		}
	}
	.zom{
		height: 570px;
		background-color: white;
		overflow: hidden;
		.zom_content{
			width: 1190px;
			height: 570px;
			margin: 0 auto;
			margin-top: 20px;
			display: flex;
			justify-content: space-around;
			.left{
				padding: 18px;
				width: 450px;
				height: 450px;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.center{
				.right_top{
					height: 24px;
					display: flex;
					justify-content: flex-end;
					a{
						margin-right: 20px;
						color: #333333;
						font-size: 12px;
					}
				}
				.huohao{
					font-size: 17px;
					color: #6a7ca6;
					p{
						padding: 10px;
						span{
							color:#6a6a6a;
						}
					}
					P:nth-child(2){
						color: #ff7e00;
						font-size: 12px;
					}
				}
				.price{
					width: 470px;
					height: 130px;
					background-color: #fff7f0;
					p{
						font-size: 12px;
						color: #6a6a6a;
						padding: 20px 10px;
						span{
							font-size: 23px;
							color: #ff3c3c;
						} 
						i{
							font-size: 23px;
							color: #0087ff;
						}
					}
				}
				.cart{
					padding: 10px 80px;
					background-color: #ff6c00;
					color: white;
					font-weight: bolder;
					cursor: pointer;
				}
				.chuantaobao{
					margin-top: 10px;
				}
			}
			.right{

			}
		}
	}
}